# Залежності (найважча папка, її ніколи не пушимо)
node_modules/

# Секретні дані (паролі, ключі доступу)
.env

# Логи (файли з помилками та звітами сервера)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
auth.log
*.log

# Тимчасові файли ОС
.DS_Store
Thumbs.db

# Налаштування IDE (опціонально, але краще додати)
.vscode/
.idea/

# Тести та покриття (якщо почнете писати тести)
coverage/